*.swp
*.pyc
.env/*
.idea/*
assignment2/.vscode/settings.json
*.so
assignment2/.ipynb_checkpoints/*
lecture_material/*
assignment2/logs/*
assignment2/cs231n/.vscode/settings.json
assignment2/cs231n/datasets/
assignment3/cs231n/datasets/
